{% extends 'base.html.twig' %}

{% block title %}Ajouter d'un Produit{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
		
           
			
            <div class="content">
			
                <form action="{{ path('produitAddCheck') }}" method="post">
					
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <p id="controlesaisie" style="color:red;display:none"></p>
                            </div>
                        </div>
                    </div>
					
                    

                    




						<div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Ajouter un Produit</h4>
                                </div>
                                <div class="card-body">
                                    <form>
                                        
                                        
                                        <div class="row">
                                        <div class="col-md-4 col-sm-12 pr-1">
                                                <div class="form-group">
                                                    <label>Nom</label>
                                                    <input type="text" name="nom" class="form-control"  required>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12 pr-1">
                                                <div class="form-group">
                                                    <label>Prix Unitaire</label>
                                                    <input type="text" name="prixUnitaire"  class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12 pr-1">
                                                <div class="form-group">
                                                    <label>Nom Fournisseur</label>
                                                    <select name="idFournisseur" class="form-control" required>
                                                        {% for f in fournisseurs %}
                                                            <option value="{{f.getId}}" > {{f.getNomFournisseur}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        <button type="submit" class="btn btn-info btn-fill pull-left">Ajouter</button>
                                        <a class="btn btn-info btn-fill pull-right" href="{{ path('produit')}}">Retour</a>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
						
						
					



					
					
					
                    
					
                    
					<div class="clearfix"></div>
                </form>
				
            </div>
        </div>
    </div>
	
	
 
    {% endblock %}