{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
<div class="col-md-12">
                            <div class="card card-plain table-plain-bg">
                                <div class="card-header ">
                                    <h4 class="card-title">Liste des produits</h4>
                                    
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th>ID</th>
                                            <th>Nom</th>
                                            <th>PrixUnitaire</th>
                                            
                                        </thead>
                                        <tbody>
                                            {% for produit in produits %}
                                            <tr>
                                                <td>{{produit.getId}}</td>
                                                <td>{{produit.getNomProduit}}</td>
                                                <td>{{produit.getPrixUnitaire}}</td>
                                                
                                                
                                            </tr>
                               
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    
                                </div>
                               
                            </div>
                           
                        </div>
                    </div>
                </div>
             
            </div>
            

    
</div>
{% endblock %}
