{% extends 'base.html.twig' %}

{% block title %}Liste des Commandes{% endblock %}

{% block body %}




<div class="col-md-12">
                            <div class="card card-plain table-plain-bg">
                                <div class="card-header ">
                                    <h4 class="card-title">Liste des commandes</h4>
                                   
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                <a class="btn btn-info btn-fill pull-right mr-3" href="{{ path('commandeAdd')}}">Ajouter une Commande</a>
                                    <table class="table table-hover">
                                        <thead>
                                            <th>ID</th>
                                            <th>DateCommande</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                        
                                            {% for commande in commandes %}
                                            <tr >
                                                <td>{{commande.getId}}</td>
                                                <td>{{commande.getDateCommande|date('d/m/y')}}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                
                                                
                                                
                                                
                                                
                                                
                                            </tr>
                               
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    
                                </div>
                               
                            </div>
                           
                        </div>
                    </div>
                </div>
             
            
            

    
</div>
{% endblock %}
