








<div class="col-md-12">
                            <div class="card card-plain table-plain-bg">
                                <div class="card-header ">
                                    <h4 class="card-title">Commande</h4>
                                   
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th>Fournisseur</th>
                                            <th>Produit</th>
                                            <th>Quantité</th>
                                            <th>Totale HT</th>
                                        </thead>
                                        <tbody>
                                        
                                           
                                                {% for ele in commandeData %}

                                               
                                            <tr >
                                               
                                                
                                                <td>{{ele.fournisseur.getNomFournisseur}}</td>
                                            </tr>

                                                {% for ligne in ele.lignes %}

                                            <tr>  

                    
                                                <td></td>
                                                <td>{{ligne.getIdProduit.getNomProduit}}</td>
                                                <td>{{ligne.getQuantity}}</td>
                                                <td>{{ligne.getQuantity * ligne.getPrixUnitaire}}</td>
                                                
                                                
                                               
                                              
                                                
                                                
                                                
                                            </tr>
                                                {% endfor %}
                                               
                                                {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                    
                                </div>
                               
                            </div>
                           
                        </div>
                    </div>
                </div>
             
            
            

   
</div>

